/* Created by: Evan Cagiannos
* Created on April 2022
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 25pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  backround: #000;
  opacity: 0.001;
}

body {
  backround-color: cornflowerblue
}

p {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5ptl;
}
